<!DOCTYPE html>
<html>
<head>
<blockquote>
<p><span style="color: #00ff00;"><span style="color: #0000ff;"><span style="color: #ff0000;"><strong>Ниже будет подгружаться информация для работников:</strong></span></span></span></p>
<p><span style="color: #00ff00;"><span style="color: #0000ff;"><span style="color: #ff0000;"><strong>1 Список клиентов</strong></span></span></span></p>
<p><span style="color: #00ff00;"><span style="color: #0000ff;"><span style="color: #ff0000;"><strong>2 Список авто в наличии</strong></span></span></span></p>
<p><span style="color: #00ff00;"><span style="color: #0000ff;"><span style="color: #ff0000;"><strong>3 Ценообразование</strong></span></span></span></p>
</blockquote>
</head>
<body>

</body>
</html>